<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice de Repositorios</title>
</head>
<body>
    <header>
        <h1>Índice de Repositorios</h1>
    </header>
    <main>
        <h1>Bienvenido al índice de repositorios</h1>
<p>Aquí están todos los repositorios disponibles:</p>
<ul>
<p><li><a href="/Baston Electrico/"></a></li></p>
<p><li><a href="/Baston de fuego/"></a></li></p>
<p><li><a href="/Baston de hielo/">Mi Página</a></li></p>
<p><li><a href="/Dempsey/"></a></li></p>
<p><li><a href="/EE Origins/"></a></li></p>
<p><li><a href="/Escena final/"></a></li></p>
<p><li><a href="/Maxis/"></a></li></p>
<p><li><a href="/Morteros/"></a></li></p>
<p><li><a href="/Nikolai/"></a></li></p>
<p><li><a href="/Origins Sucesos/"></a></li></p>
<p><li><a href="/Pre Origins/"></a></li></p>
<p><li><a href="/README/">Índice de Repositorios</a></li></p>
<p><li><a href="/Richtofen/"></a></li></p>
<p><li><a href="/Takeo/"></a></li></p>
<p><li><a href="/Samantha/"></a></li></p>
<p><li><a href="/Raygun/"></a></li></p>
</ul>

    </main>
</body>
</html>